body {
    /* width: 95vw; */
    margin-top: 3rem;
    padding-bottom: 5rem;
    background-color: rgb(240, 240, 240);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/*  */
/* ヘッダー */
header {
    background-color: #263165;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header>div {
    display: flex;
    align-items: center;
}

#onlines{
    margin-right: 1rem;
}

header>button{
    background-color: #f0f0f0;
    color: #263165;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
/*  */


/* 通知 */
#notification {
    border: none;
    cursor: pointer;
    padding: 0.3rem;
    margin: 0.2rem;
    position: fixed;
    bottom: 4rem;
    color: white;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 0.8rem;
    align-content: center;
    text-align: center;
}
/*  */

/* 履歴 */
#messageLists {
    margin: 0.3rem;
    padding: 0;
}

#messageLists>div {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    padding-left: 3rem;
    /* margin-left: 2rem; */
    margin-bottom: 0.5rem;
    align-items: center;
}

#messageLists>div:hover {
    background-color: lightgray;
}

.buttons {
    white-space: nowrap;
    /* 改行を防ぐ */
}

.accordion .buttons {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 0.6rem;
    white-space: nowrap;
}

details.accordion {
    margin-bottom: 7px;
    border: 2px solid #d0d0d052;
    border-radius: 25px;
}

.accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
    cursor: pointer;
}

.accordion summary>div.userName-time-msg {
    position: relative;
    padding: 0.6rem;
    padding-left: 0.8rem;
}

.accordion summary>div.userName-time-msg>div.userName-time>span.time {
    margin-left: 0.8rem;
    font-size: 0.8rem;
    color: gray;
    font-weight: normal;
}

.accordion summary>div.userName-time-msg>div.message-text {
    margin-left: 0.8rem;
    font-weight: normal;
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion summary::before {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 1rem;
    border-bottom: 3px solid #333333b3;
    border-right: 3px solid #333333b3;
    content: '';
    transition: transform .3s;
}

.accordion[open] summary::before {
    transform: rotate(225deg);
}

.accordion .children {
    box-sizing: border-box;
    padding-left: 4rem;
    padding-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.accordion .child {
    display: flex;
}

.accordion p {
    display: flex;
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    color: rgb(56, 56, 56);
    transition: transform .5s, opacity .5s;
    font-size: 0.8rem;
}

details.accordion>div.children>p.child>div.userName-time-msg>div.userName-time>span.time {
    margin-left: 0.5rem;
    font-size: 0.6rem;
    color: gray;
    font-weight: normal;
}

details.accordion>div.children>p.child>div.userName-time-msg>div.message-text {
    margin-left: 0.5rem;
}

.accordion[open] p {
    transform: none;
    opacity: 1;
}

#messageLists>.memo {
    /* メモ */
    font-size: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px #20b2aa;
}

#messageLists>.memo>div.userName-time-msg div.userName-time span.userName {
    font-weight: bold;
    color: #20B2AA;
}

#messageLists>.translucent {
    opacity: 0.5;
    /* 50%透明 */
}

#messageLists>div .ml {
    /* チャット投稿 まとめdiv */
    font-size: 0.8rem;
    padding: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

#messageLists>div.userName-time-msg {
    /* ユーザ名と投稿時間 まとめdiv */
    display: flex;
    justify-content: flex-start;
}

#messageLists>div div.userName-time-msg div.userName-time span.userName {
    /* ユーザ名 */
    font-weight: bold;
    color: black;
}

#messageLists>div div.userName-time-msg div.userName-time span.time {
    /* 投稿時間 */
    margin-left: 0.8rem;
    font-size: 0.8rem;
    color: gray;
}

#messageLists>div div.message-text {
    /* 投稿のテキスト */
    padding-top: 0.1rem;
    margin-left: 0.8rem;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    font-size: medium;
}

div.survey-container {
    /* アンケートの場合 */
    flex: auto;
    padding-top: 0.8rem;
    margin-left: 0.8rem;
}

div.survey-container button {
    /* アンケートの選択肢ボタン */
    background-color: blue;
    border: none;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

span.survey-num {
    /* アンケート選択肢の投票カウント */
    margin-left: 3px;
    margin-right: 6px;
    font-weight: bold;
    color: blue;
}

#messageLists>div div.buttons {
    /* 反応のボタン まとめdiv */
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.bookmark-container,
.memoSend-container {
    /* ボタンのまとめdiv */
    display: flex;
    justify-content: flex-end;

    margin-right: 10px;
}

.bookmark-container button {
    background: transparent;
    box-shadow: none;
    border: none;
    color: gray;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
}

.memoSend-container button {
    background: transparent;
    box-shadow: none;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
}

span.bookmark-count,
span.memoSend-count {
    /* 各ボタンのカウント */
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.memoSend-container button {
    background-color: #263165;
}

.bookmark-container button.active,
.memoSend-container button.active {
    font-weight: bold;
    color: #ffae00;
    cursor: default;
}

span.bookmark-count {
    color: #2879C2;
}

.draggable {
    /* cursor: grab; */
    cursor: move;
    transition: all 0.2s;
}

.draggable:active {
    /* cursor: grabbing; */
    cursor: move;
}

/* 伏せカード */
@keyframes slideInWithImpact {
    0% {
        transform: translateX(100%) scale(0.8);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

.downCard {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    padding: 0.1rem;
    margin: 0.2rem;
    border-radius: 8px;
    opacity: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.downCard.visible {
    animation: slideInWithImpact 0.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
/*  */

/* 入力 */
#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 4rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    text-align: center;
}

#form>#input {
    border: none;
    padding: 0 1rem;
    flex-basis: 100%;
    border-radius: 2rem;
    margin: 0.25rem;
}

#form>#input:focus {
    outline-color: gray;
}

#form>#checkBox {
    margin: 1.5rem;
    display: flex;
    transform: scale(5);
}

#form>button {
    background: rgb(32, 178, 170);
    border: none;
    padding: 0 2rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    font-size: 1.25rem;
}

#form>button.chatButton {
    background: rgb(56, 92, 168);
}
/*  */